/* Variables */
$black: #161514;
$light-yellow: #fbf4e5;

$bg-green: #aaf05f;
$bg-yellow: #ffcc1c;
$bg-orange: #fe7632;

/*
 * SCSS - Function & Mixin
 */
@function text-shadow($color, $width: 1) {
  @return -#{$width}px 0px $color, 0px #{$width}px $color,
    #{$width}px 0px $color, 0px -#{$width}px $color;
}
@function vw($px-vw, $base-vw: 1800px) {
  @return $px-vw * 100vw / $base-vw;
}
@function to-clamp($val, $minVal: 0.5, $base-vw: 1800px) {
  @if ($val == 0 or $val == null) {
    @return $val;
  }
  $min: null;
  @if $minVal > 0 and $minVal < 1 {
    $min: $val * $minVal;
  } @else {
    $min: $minVal;
  }
  @if ($val < 0) {
    @return clamp($val, vw($val, $base-vw), $min);
  }
  @return clamp($min, vw($val, $base-vw), $val);
}
@mixin set-bg-icon($icon-width, $icon-top, $icon-left, $url-head, $after...) {
  @for $i from 1 through length($icon-width) {
    $width: nth($icon-width, $i);
    $top: nth($icon-top, $i);
    $left: nth($icon-left, $i);
    $url: url('/src/images/#{$url-head}#{$i}.png');

    i:nth-child(#{$i}) {
      @include absolute($t: $top, $l: $left);
      &::before {
        @include bg-icon-pseudo($width);
        background-image: $url;
      }
      @if index($after, $i) {
        $url: url('/src/images/#{$url-head}#{$i}_02.png');
        &::after {
          @include absolute(0, 0, 0, 0);
          @include bg-icon-pseudo($width);
          background-image: $url;
        }
      }
    }
  }
}
@mixin set-bg-icon-2(
  $icon-width,
  $icon-top,
  $icon-right,
  $icon-bottom,
  $icon-left,
  $url-head,
  $after...
) {
  @for $i from 1 through length($icon-width) {
    $width: nth($icon-width, $i);
    $top: nth($icon-top, $i);
    $right: nth($icon-right, $i);
    $bottom: nth($icon-bottom, $i);
    $left: nth($icon-left, $i);
    $url: url('/src/images/#{$url-head}#{$i}.png');

    i:nth-child(#{$i}) {
      position: absolute;
      top: $top;
      right: $right;
      bottom: $bottom;
      left: $left;
      width: to-clamp($width);
      aspect-ratio: 1/1;
      &::before {
        @include bg-icon-pseudo-2;
        background-image: $url;
      }
      @if index($after, $i) {
        $url: url('/src/images/#{$url-head}#{$i}_02.png');
        &::after {
          @include bg-icon-pseudo-2;
          background-image: $url;
        }
      }
    }
  }
}
@mixin absolute($t: null, $r: null, $b: null, $l: null) {
  position: absolute;
  top: $t;
  right: $r;
  bottom: $b;
  left: $l;

  @if ($t == 50% and $l == 50%) {
    transform: translate(-50%, -50%);
  } @else if ($t == 50%) {
    transform: translate(0, -50%);
  } @else if ($l == 50%) {
    transform: translate(-50%, 0);
  }
}
@mixin bg-icon-pseudo($width: null, $ratio: 1/1) {
  content: '';
  display: inline-block;
  width: $width;
  aspect-ratio: $ratio;
  background-size: contain;
  background-repeat: no-repeat;
}
@mixin bg-icon-pseudo-2 {
  content: '';
  @include absolute(0, 0, 0, 0);
  background-size: contain;
  background-repeat: no-repeat;
}

/*
 * CSS Animation - Keyframes
 */
@keyframes infinite-rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*
 * CSS Animation - Add Class
 */
[class*='anim'] {
  opacity: 0;
  transition: 0.5s;
  &.active {
    opacity: 1;
    transition: 0.5s;
  }
}
.anim-scale {
  scale: 0;
  &.active {
    scale: 1;
  }
}
.anim-xRight {
  transform: translateX(-100%);
  &.active {
    transform: translateX(0);
  }
}
.anim-xLeft {
  transform: translateX(100%);
  &.active {
    transform: translateX(0);
  }
}

/*
 * Common
 */
* {
  font-family: $primary-kr;
  color: $black;
  box-sizing: border-box;
}
section {
  padding-bottom: 150px;
}
.container {
  &.full-header-on {
    .gnb,
    .btn-full-header-show {
      display: none !important;
    }
    .btn-full-header-hide {
      display: block !important;
    }
  }
}

.btn-link {
  display: inline-block;
  padding: 12px 20px;
  border-radius: 30px;
  .bi {
    display: inline-block;
    margin-left: 5px;
    color: inherit;
    font-size: 0.7em;
    translate: 0 -2px;
  }
}

/*
 * Header
 */
:root {
  --header-height: 120px;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  font-family: $secondary-kr;
  .header-inner {
    height: var(--header-height);
    display: flex;
    align-items: center;
    .logo {
      width: 240px;
      img {
        width: 100%;
      }
    }
    .gnb {
      font-size: 22px;
      margin-left: 120px;
      font-weight: 500;
      a:not(:last-child) {
        margin-right: 50px;
      }
      a {
        position: relative;
        padding-bottom: 5px;
        &::after {
          content: '';
          @include absolute($l: 0, $b: 0);
          display: none;
          width: 100%;
          height: 3px;
          background-color: rgba($black, 0.1);
        }
        &.located {
          &::after {
            display: inline-block;
          }
        }
      }
    }
    .btn-link {
      background-color: #000;
      color: $light-yellow;
      margin-left: auto;
      margin-right: 50px;
    }
    .full-header-buttons {
      > button {
        width: 22px;
        height: 22px;
        padding: 0;
      }
      .btn-full-header-show {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        span {
          display: flex;
          width: 100%;
          justify-content: space-between;
        }
        i {
          width: 4px;
          height: 4px;
          background-color: #000;
          border-radius: 3px;
        }
      }
      .btn-full-header-hide {
        display: none;
        position: relative;
        i {
          display: inline-block;
          width: 100%;
          height: 100%;
          &::before,
          &::after {
            content: '';
            @include absolute($t: 50%, $l: 50%);
            display: inline-block;
            width: 120%;
            height: 2px;
            background-color: $black;
          }
          &::before {
            transform: translate(-50%, -50%) rotate(45deg);
          }
          &::after {
            transform: translate(-50%, -50%) rotate(-45deg);
          }
        }
      }
    }
  }
}
header.bright {
  .gnb {
    color: $light-yellow;
  }
  .btn-full-header-show i {
    background-color: $light-yellow !important;
  }
}
.full-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $light-yellow;
  display: flex;
  z-index: 997;
  justify-content: center;
  align-items: center;
  // transform: translateY(-100%);
  .full-header-fake-bg {
    @include absolute(0, 0, 0, 0);
    background-color: #6d6d6d;
    z-index: 998;
  }
  .full-header-content {
    position: relative;
    width: 80%;
    display: flex;
    justify-content: space-between;
    .full-header-gnb-wrap {
      .full-header-icon {
        @include absolute($t: 0, $r: 0);
        width: 520px;
        height: 340px;

        &::before,
        .rotate-v2,
        &::after {
          content: '';
          display: inline-block;
          background-size: cover;
          aspect-ratio: 1/1;
        }
        &::before {
          @include absolute($t: 0, $r: 30px);
          width: 94px;
          background-image: url(/src/images/header01_01.png);
        }
        .rotate-v2 {
          @include absolute($t: 0, $l: 0);
          width: 200px;
          background-image: url(/src/images/header01_02.png);
          filter: drop-shadow(5px 5px rgba($black, 0.1));
        }
        &::after {
          @include absolute($b: 0, $r: 0);
          width: 220px;
          background-image: url(/src/images/header01_03.png);
        }
      }
      .full-header-gnb {
        font-size: 80px;
        li {
          $font-size: 1em;
          $arrow-mr: 10px;
          $translateX: calc($font-size + $arrow-mr);

          padding-right: $translateX;
          font-family: $primary-kr--bold;
          font-size: $font-size;
          overflow: hidden;
          line-height: 1.4;
          white-space: nowrap;
          a {
            position: relative;
            display: inline-block;
            i {
              display: inline-block;
              transition: transform 0.5s;
              &::before {
                content: '';
                @include absolute($r: calc(100% + $arrow-mr), $t: 50%);
                transform: translateY(-50%);
                display: inline-block;
                width: $font-size;
                aspect-ratio: 1/1;
                background-image: url(/src/images/header_arrow.png);
                background-size: cover;
                vertical-align: middle;
              }
              &:hover {
                -webkit-text-stroke: 2px $black;
                color: transparent;
                transform: translateX($translateX);
                transition: transform 0.5s;
              }
            }
          }
        }
      }
      .capstone {
        display: none;
      }
    }
    address {
      align-self: flex-end;
      width: fit-content;
      line-height: 1.5;
      text-align: right;
      overflow: hidden;
      word-break: keep-all;
      b {
        display: block;
        font-size: 20px;
        font-weight: 500;
      }
      .tel-fax {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        span {
          margin-top: 10px;
        }
      }
    }
  }
}

main {
  padding-top: var(--header-height);
  transition: 0.2s;
  &.yellow {
    background-color: $bg-yellow;
    .match-bg {
      color: $bg-yellow;
    }
  }
  &.orange {
    background-color: $bg-orange;
    .match-bg {
      color: $bg-orange;
    }
  }
  &.green {
    background-color: $bg-green;
    .match-bg {
      color: $bg-green;
    }
  }
}
.card-header {
  display: flex;
  justify-content: space-between;
  font-size: 30px;
  font-family: $primary-kr--bold;
  .card-fake-btns {
    i {
      display: inline-block;
      width: 30px;
      height: 30px;
      border: 2px solid $black;
      border-radius: 5px;
      font-size: 25px;
      text-align: center;
      -webkit-text-stroke: 1px;
      &:not(:last-child) {
        margin-right: 10px;
      }
      &:last-child::before {
        transform: scale(1.15);
      }
      &:first-child::before {
        transform: translateY(4px);
      }
    }
  }
}

/*
 *  Footer
 */
footer {
  position: relative;
  background-color: $black;
  height: 260px;
  display: flex;
  align-items: center;
  font-family: $secondary-kr;
  * {
    color: $light-yellow;
    font-weight: 400;
    letter-spacing: -0.02em;
  }
  .footer-inner {
    .copyright-wrap {
      display: flex;
      justify-content: space-between;
      > * {
        margin-bottom: 40px;
      }
      .copyright {
        .powered-by {
          font-size: 14px;
          opacity: 0.5;
          margin-left: 50px;
          b {
            font-weight: bold;
          }
        }
      }
      .related-site {
        position: relative;
        width: 210px;
        span {
          cursor: pointer;
          display: flex;
          justify-content: space-between;
          .bi {
            transform: rotate(0);
            transition: transform 0.2s;
            vertical-align: middle;
          }
        }
        &.active {
          span {
            opacity: 0.5;
            .bi {
              transform: rotate(180deg);
              transition: transform 0.2s;
            }
          }
        }
        .site-link-list {
          display: none;
          position: absolute;
          bottom: calc(100% + 20px);
          left: 0;
          width: 100%;
          background-color: $light-yellow;
          padding: 15px;
          box-shadow: 5px 5px rgba($black, 0.1);
          font-size: 14px;
          li {
            a {
              display: block;
              color: $black;
              &:hover {
                text-decoration: underline;
              }
            }
            &:not(:last-child) {
              margin-bottom: 14px;
            }
          }
        }
      }
    }
    address {
      font-size: 0.9em;
      line-height: 1.5;
    }
  }
}

.header-inner,
.footer-inner {
  width: 1800px !important;
  margin: 0 auto;
}
@media screen and (max-width: 1800px) {
  .header-inner,
  .footer-inner {
    width: 100% !important;
    padding: 0 30px;
  }
}
@media screen and (max-width: 1280px) {
  header {
    .gnb {
      display: none;
    }
  }
}
@media screen and (max-width: 1024px) {
  $base-vw: 1024px;

  .full-header {
    .full-header-content {
      .full-header-gnb-wrap {
        .full-header-icon {
          width: vw(520px, $base-vw);
          height: vw(340px, $base-vw);
          &::before {
            right: vw(30px, $base-vw);
            width: vw(94px, $base-vw);
          }
          .rotate-v2 {
            width: vw(200px, $base-vw);
          }
          &::after {
            width: vw(220px, $base-vw);
          }
        }
        .full-header-gnb {
          font-size: vw(80px, $base-vw);
          li {
            a i {
              &:hover {
                -webkit-text-stroke-width: 1.5px;
              }
              &::before {
                width: vw(80px, $base-vw);
              }
            }
          }
        }
      }
    }
  }
  footer {
    font-size: 15px;
    .footer-inner {
      .copyright-wrap {
        > * {
          margin-bottom: 30px;
        }
        flex-direction: column;

        .related-site {
        }
      }
    }
  }
}
@media screen and (max-width: 768px) {
  :root {
    --header-height: 80px;
  }
  header {
    .header-inner {
      height: var(--header-height);
      .logo {
        width: 180px;
      }
    }
    .btn-link {
      display: none;
    }
    .full-header-buttons {
      margin-left: auto;
    }
  }
  .full-header {
    align-items: flex-end;
    .full-header-content {
      flex-direction: column;
      height: calc(100vh - var(--header-height));
      padding: 30px 0 50px;
      .full-header-gnb-wrap {
        position: relative;
        .full-header-icon {
          width: 50%;
          height: 70%;
          &::before {
            top: vw(60px);
          }
          .rotate-v2 {
            top: 15%;
          }
        }
        .capstone {
          display: inline-block;
          background-color: $black;
          color: $light-yellow;
          margin-top: 30px;
        }
      }
      address {
        align-self: auto;
        text-align: unset;
        font-size: 13px;
        b {
          font-size: inherit;
          font-weight: 700;
        }
        .tel-fax {
          flex-direction: row;
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  footer {
    font-size: 12px;
    height: 220px;
    .footer-inner {
      .copyright-wrap {
        > * {
          margin-bottom: 20px;
        }
        .copyright {
          .powered-by {
            display: block;
            margin-left: 0;
            margin-top: 10px;
          }
        }
        .related-site {
          width: 160px;
          .site-link-list {
            font-size: 12px;
          }
          span {
            justify-content: start;
            .bi {
              margin-left: 10px;
              scale: 0.7;
            }
          }
        }
      }
    }
  }
}
