@import 'reset', 'fonts', 'common', 'bootstrap-icons/font/bootstrap-icons.css';

/*
 * Common
 */
[class*='inner'] {
  width: 1800px;
  margin: 0 auto;
}

main {
  padding-top: 0;
  overflow: hidden;
}

/*
 *  Section : Greeting
 */
section.greeting {
  position: relative;
  .greeting-bg-text {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    overflow: hidden;
    .text-wrap {
      white-space: nowrap;
      width: fit-content;
      span {
        font-size: 200px;
        font-family: $en;
        font-weight: 700;
        line-height: normal;
        text-shadow: text-shadow($light-yellow, 2);
      }
      &:not(:last-child) {
        margin-bottom: -30px;
      }
      &:nth-child(2) {
        animation: infinite-text 50s infinite linear;
        span {
          color: $light-yellow;
        }
      }
      &:nth-child(1),
      &:nth-child(3) {
        animation: infinite-text--stroke 50s infinite linear;
      }

      /* Text Animation */
      @keyframes infinite-text {
        0% {
          transform: translateX(-50%);
        }
        100% {
          transform: translateX(0);
        }
      }
      @keyframes infinite-text--stroke {
        0% {
          transform: translateX(0);
        }
        100% {
          transform: translateX(-50%);
        }
      }
    }
  }
  .greeting-inner {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .greeting-emoji {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 95%;
      height: 70%;
      transform: translate(-50%, -50%);
      > * {
        position: absolute;
        .img-wrap {
          position: absolute;
          display: inline-block;
          aspect-ratio: 1/1;
          filter: drop-shadow(5px 5px rgba($black, 0.1));
        }
      }
      .top-left-emoji {
        top: 0;
        left: 0;
        .img-wrap:nth-child(1) {
          top: 0;
          left: 0;
          width: 120px;
          background: url(/src/images/section01_01.png) no-repeat;
          background-size: cover;
        }
        .img-wrap:nth-child(2) {
          top: 25px;
          left: 90px;
          width: 175px;
          img {
            width: 100%;
          }
        }
      }
      .top-right-emoji {
        top: 0;
        right: 0;
        .img-wrap:nth-child(1) {
          right: 80px;
          top: 0;
          width: 190px;
          background: url(/src/images/section01_03.png) no-repeat;
          background-size: cover;
        }
        .img-wrap:nth-child(2) {
          top: 90px;
          right: 0;
          width: 111px;
          background: url(/src/images/section01_04.png) no-repeat;
          background-size: cover;
        }
      }
      .bottom-left-emoji {
        bottom: 0;
        left: 0;
        .img-wrap:nth-child(1) {
          bottom: 0;
          left: 0;
          width: 120px;
          background: url(/src/images/section01_05.png) no-repeat;
          background-size: cover;
        }
      }
      .bottom-right-emoji {
        bottom: 0;
        right: 0;
        .img-wrap:nth-child(1) {
          right: 115px;
          bottom: 0;
          width: 121px;
          img {
            width: 100%;
          }
        }
        .img-wrap:nth-child(2) {
          right: 0;
          bottom: 0;
          width: 184px;
          background: url(/src/images/section01_07.png) no-repeat;
          background-size: cover;
        }
      }
    }
    .greeting-center {
      position: relative;
      // min-width: 510px;
      width: 680px;
      aspect-ratio: 1/1;
      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
}

/*
 *  Section : Slogan
 */
section.slogan {
  .slogan-phrase {
    position: relative;
    white-space: nowrap;
    border-bottom: 2px solid #161514;
    &:first-child {
      border-top: 2px solid #161514;
    }
    .slogan-phrase-inner {
      padding: 0 30px;
      [class*='slogan-text-wrap'] {
        display: inline-block;
        font-size: 100px;
        position: relative;

        > span {
          display: inline-block;
          height: 190px;
          line-height: 190px;
          transform: translateY(4px);
        }

        .absolute {
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1;
        }
      }
      .slogan-text-wrap-01 {
        margin-right: 55px;
        .up,
        .go {
          font-family: $primary-kr--bold;
          font-style: italic;
        }
        .up {
          color: #ff7632;
        }
        .go {
          color: #ab9bf5;
        }
        .icon-arrow-right {
          display: inline-block;
          width: 110px;
          aspect-ratio: 1/1;
          background: url(/src/images/section01_08.png) no-repeat;
          background-size: cover;
          vertical-align: middle;
          margin: 0 60px;
        }
      }
      .slogan-text-wrap-02 {
      }
      .slogan-text-wrap-03 {
        -webkit-text-stroke: 1.5px $black;
        margin-right: 55px;
        -webkit-text-fill-color: transparent;
        .icon-star {
          display: inline-block;
          width: 95px;
          aspect-ratio: 1/1;
          background: url(/src/images/section01_09.png) no-repeat;
          background-size: cover;
          vertical-align: middle;
          margin-right: 40px;
        }
        span {
        }
      }
      .slogan-text-wrap-04 {
        font-family: $primary-kr--bold;
        .linc {
          font-family: $en;
          padding: 20px 30px;
          border-radius: 99px;
          background-color: $black;
          font-size: 0.27em;
          font-style: italic;
          font-weight: 700;
          margin-left: 55px;
          vertical-align: middle;
        }
      }
    }
    .slogan-phrase-bg {
      // display: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #fbf4e5;
    }
  }
}

/*
 *  Section : Program Guide
 */
section.program-guide {
  .program-guide-inner {
    text-align: center;
    .program-guide-title {
      font-family: $en;
      font-size: 90px;
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: -0.05em;
      .match-bg {
        text-shadow: text-shadow($black, 1);
      }
    }
    .letter-items {
      display: flex;
      justify-content: space-between;
      margin-top: 70px;
      .letter-item {
        cursor: pointer;
        font-family: $primary-kr--bold;
        font-size: 30px;
        width: 560px;
        border: 2px solid $black;
        padding: 30px;
        padding-bottom: 60px;
        &:nth-child(1) .letter-envelope {
          background-color: #f66219;
        }
        &:nth-child(2) .letter-envelope {
          background-color: #9581f0;
        }
        &:nth-child(3) .letter-envelope {
          background-color: #a1e359;
        }

        .letter-content {
          padding-top: 70px;
          overflow: hidden;
          .letter-bubble {
            position: relative;
            height: 217px;
            margin-bottom: 30px;
            text-align: left;
            letter-spacing: -0.05em;
            .img-wrap {
              position: absolute;
              width: fit-content;
              height: 160px;
              img {
                height: 100%;
              }
              span {
                position: absolute;
                top: 20%;
                left: 20%;
                line-height: 1.3;
              }
              &:first-child {
                position: absolute;
                bottom: 0;
                right: 0;
                span {
                  padding-left: 20px;
                }
              }
              &:last-child {
                position: absolute;
                top: 0;
                left: 0;
              }
            }
          }
          .letter {
            position: relative;
            .letter-envelope {
              position: relative;

              .letter-envelope-in-img {
                display: none;
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                aspect-ratio: 1/1;
              }
              &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: url(/src/images/pic_letter_logo.png);
                background-size: cover;
                z-index: 3;
              }
              .letter-envelope-outer-img {
                position: relative;
                display: block;
                width: 100%;
                z-index: 1;
              }
              .letter-envelope-close-img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                // transform: rotateX(180deg);
                z-index: 2;
                transform-origin: top center;
              }
            }
            .letter-paper {
              position: absolute;
              bottom: 0;
              left: 50%;
              transform: translate(-50%, 65%);
              width: calc(100% - 50px);
              .letter-paper-bg {
                display: block;
                width: 100%;
              }

              .letter-paper-text {
                position: absolute;
                top: 0;
                left: 0;
                font-family: $secondary-kr;
                font-size: 22px;
                padding: 90px 60px 0;
                letter-spacing: -0.06em;
                text-align: left;
                word-break: keep-all;
                span {
                  font-weight: 700;
                }
                p {
                  font-weight: 300;
                  line-height: 1.5;
                  margin: 15px 0;
                }
                a {
                  display: inline-block;
                  font-size: 16px;
                  font-weight: 500;
                  padding: 10px 20px;
                  background-color: $black;
                  border-radius: 50px;
                  color: $bg-yellow;
                  .bi {
                    color: inherit;
                    display: inline-block;
                    margin-left: 5px;
                  }
                  &:hover .bi {
                    transform: translateX(2px);
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

/*
 *  Section : Introduction
 */
section.introduction {
  position: relative;
  .introduction-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    .circle {
      position: absolute;
      right: 0px;
      top: 50%;
      transform: rotate(90deg) translateY(-50%);
      i {
        display: inline-block;
        position: relative;
        font-family: $en;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: -0.02em;
        font-size: 25px;
        font-style: italic;
      }
      &::before {
        content: '';
        display: inline-block;
        width: 800px;
        background-color: $black;
        aspect-ratio: 1/1;
        position: absolute;
        bottom: -70px;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 50%;
      }
    }
    .top-left {
      position: absolute;
      top: 0;
      left: 50px;
      width: 220px;
      aspect-ratio: 1/1;
      &::before,
      &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
      }
      &::before {
        background: url(/src/images/section02_01_2.png);
        background-size: cover;
        animation: infinite-rotate 15s infinite linear;
      }
      &::after {
        background: url(/src/images/section02_01_1.png);
        background-size: cover;
      }
    }
    .bottom-left {
      position: absolute;
      left: -60px;
      bottom: 60px;
      width: 300px;
      aspect-ratio: 1/1;
      background: url(/src/images/section02_04.png);
      background-size: cover;
    }
  }
  .introduction-content {
    position: relative;
    font-size: 110px;
    white-space: nowrap;
    font-family: $primary-kr--bold;
    text-align: center;
    padding-top: 110px;
    .introduction-phrase {
      line-height: 1.5;
      &:nth-child(1) {
        font-size: 0.727em;
        font-family: $primary-kr;
      }
      &:nth-child(2) {
        -webkit-text-stroke: 2px $black;
        color: transparent;
        span {
          -webkit-text-stroke: 2px $black;
          color: inherit;
        }
      }
      [class*='icon'] {
        display: inline-block;
        vertical-align: middle;
        width: 100px;
        aspect-ratio: 1/1;
        margin: 0 30px;
        background-size: cover;
      }
      .icon-clover {
        width: 70px;
        background-image: url(/src/images/section02_02.svg);
      }
      .icon-earth {
        background-image: url(/src/images/section02_03.png);
      }
      .icon-link {
        background-image: url(/src/images/section02_05.png);
      }
    }
    a {
      display: inline-block;
      font-family: $secondary-kr;
      font-size: 30px;
      letter-spacing: -0.06em;
      width: 300px;
      height: 100px;
      line-height: 100px;
      border-radius: 99px;
      text-align: center;
      border: 2px solid $black;
      font-weight: 700;
      .bi {
        color: inherit;
      }
      &:hover {
        background-color: $black;
        color: $bg-orange;
      }
    }
  }
}

section.greeting {
  .greeting-emoji {
    transition: width 2s;
  }
}

@media screen and (max-width: 1800px) {
  @function vw($px-vw, $base-vw: 1800px) {
    @return ($px-vw * 100vw) / $base-vw;
  }

  [class*='inner'] {
    width: 100%;
    padding: 0 30px !important;
  }

  section.greeting {
    .greeting-inner {
      .greeting-center {
        width: max(vw(680px), 550px);
      }
      .greeting-emoji {
        width: 85%;

        .top-left-emoji {
          .img-wrap:nth-child(1) {
            width: vw(120px);
          }
          .img-wrap:nth-child(2) {
            top: vw(25px);
            left: vw(90px);
            width: vw(175px);
          }
        }
        .top-right-emoji {
          .img-wrap:nth-child(1) {
            right: vw(80px);
            width: vw(190px);
          }
          .img-wrap:nth-child(2) {
            top: vw(90px);
            width: vw(111px);
          }
        }
        .bottom-left-emoji {
          .img-wrap:nth-child(1) {
            width: vw(120px);
          }
        }
        .bottom-right-emoji {
          .img-wrap:nth-child(1) {
            right: vw(115px);
            width: vw(121px);
          }
          .img-wrap:nth-child(2) {
            width: vw(184px);
          }
        }
      }
    }
  }

  /*
 *  Section : Slogan
 */
  section.slogan {
    .slogan-phrase {
      .slogan-phrase-inner {
        [class*='slogan-text-wrap'] {
          font-size: vw(100px);
          > span {
            height: vw(190px);
            line-height: vw(190px);
          }
        }
        .slogan-text-wrap-01 {
          margin-right: vw(55px);
          .icon-arrow-right {
            width: vw(110px);
            margin: 0 vw(60px);
          }
        }
        .slogan-text-wrap-03 {
          margin-right: vw(55px);
          .icon-star {
            width: vw(95px);
            margin-right: vw(40px);
          }
        }
        .slogan-text-wrap-04 {
          .linc {
            margin-left: vw(55px);
            padding: vw(20px) vw(30px);
          }
        }
      }
    }
  }

  /*
 *  Section : Program Guide
 */
  section.program-guide {
    .program-guide-inner {
      .letter-items {
        $gap: vw(60px);
        .letter-item {
          font-size: vw(30px);
          width: 32%;
          .letter-content {
            .letter-bubble {
              height: vw(217px);
              .img-wrap {
                height: vw(160px);
              }
            }
            .letter {
              .letter-paper {
                width: calc(100% - vw(50px));

                .letter-paper-text {
                  font-size: max(vw(22px), 15px);
                  padding: 15% 20%;
                  a {
                    font-size: max(vw(16px), 12px);
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  /*
 *  Section : Introduction
 */
  section.introduction {
    .introduction-bg {
      * {
        transition: 0.4s;
      }
      .circle {
        i {
          font-size: vw(25px);
        }
        &::before {
          width: vw(800px);
          bottom: vw(-70px);
        }
      }
      .top-left {
        top: -50px;
        left: 10px;
        width: vw(220px);
      }
      .bottom-left {
        width: vw(300px);
      }
    }
    .introduction-content {
      font-size: vw(110px);
      padding-top: vw(110px);
      .introduction-phrase {
        [class*='icon'] {
          width: vw(100px);
          margin: 0 vw(30px);
        }
        .icon-clover {
          width: vw(70px);
        }
      }
      a {
        font-size: vw(30px);
        width: vw(300px);
        height: vw(100px);
        line-height: vw(100px);
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  @function vw($px-vw, $base-vw: 1024px) {
    @return ($px-vw * 100vw) / $base-vw;
  }

  .full-header {
    .full-header-content {
      .full-header-icon {
        width: vw(520px);
        height: vw(340px);
        &::before {
          right: vw(30px);
          width: vw(94px);
        }
        .rotate-v2 {
          width: vw(200px);
        }
        &::after {
          width: vw(220px);
        }
      }
      .full-header-gnb {
        li {
          font-size: vw(80px);
        }
      }
    }
  }

  section.greeting {
    .greeting-inner {
      .greeting-emoji {
        .top-left-emoji {
          .img-wrap:nth-child(1) {
            width: vw(100px);
          }
          .img-wrap:nth-child(2) {
            width: vw(150px);
            top: vw(40px);
            left: vw(70px);
          }
        }
        .top-right-emoji {
          .img-wrap:nth-child(1) {
            right: vw(60px);
            width: vw(160px);
          }
          .img-wrap:nth-child(2) {
            width: vw(90px);
            top: vw(80px);
          }
        }
        .bottom-left-emoji {
          .img-wrap:nth-child(1) {
            width: vw(100px);
          }
        }
        .bottom-right-emoji {
          .img-wrap:nth-child(1) {
            width: vw(100px);
            right: vw(115px);
          }
          .img-wrap:nth-child(2) {
            width: vw(170px);
          }
        }
      }
    }
  }

  section.program-guide {
    .program-guide-inner {
      .program-guide-title {
        font-size: vw(90px);
      }
      .letter-items {
        flex-direction: column;
        gap: 30px;
        .letter-item {
          width: 100%;
          font-size: 18px;
          padding: 30px 0;
          .card-header {
            padding: 0 20px;
            .card-fake-btns {
              i {
                width: 25px;
                height: 25px;
                font-size: 22px;
                &::before {
                  line-height: 25px;
                }
                &:not(:last-child) {
                  margin-right: 3px;
                }
              }
            }
          }
          .letter-content {
            width: 270px;
            margin: 0 auto;
            padding-top: 40px;
            .letter-bubble {
              height: 140px;
              .img-wrap {
                height: 100px;
                &:first-child {
                  span {
                    padding-left: 32px;
                  }
                }
              }
              .bubble-text {
              }
            }
            .letter {
              .letter-paper {
                .letter-paper-text {
                  font-size: 18px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  @function vw($px-vw, $base-vw: 768px) {
    @return ($px-vw * 100vw) / $base-vw;
  }

  section:not(.greeting) {
    padding-bottom: 100px;
  }

  section.greeting {
    .greeting-bg-text {
      .text-wrap {
        padding: 20px 0;
        span {
          font-size: vw(200px);
        }
      }
    }
  }
  section.slogan {
    .slogan-phrase {
      border-bottom: none;
      .slogan-phrase-inner {
        padding: 0 !important;
        [class*='slogan-text-wrap'] {
          display: block;
          border-bottom: 2px solid $black;
          margin-right: 0;
          padding: vw(20px) vw(100px);
          font-size: vw(60px);
          > span {
            transform: translateY(0);
            height: auto;
            line-height: 1;
          }
          .absolute {
            display: block;
            width: 100%;
            padding: inherit;
            background-color: $light-yellow;
          }
        }
      }
      .slogan-phrase-bg {
        display: none;
      }
    }
  }
}
